.course-grid{
    display: grid;
    grid-template-columns: 1fr 5fr 7fr;
    grid-template-rows: 1fr 2fr;
    height: 93vh;
}

.chat-box{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 79%;
}

.back-button{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-left: 50%;
    padding-top: 30%;
}

.header-container {
    margin-top: -10px;
    margin-left: -28px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 12%;
    width: 20%;
}

.content {
    padding: 45px;
    display: flex;
    flex-direction: row;
    grid-column-start: 2;
    grid-column-end: 4;
}

.preview {
    width: 90%;
    border: 1px #d0e0ff solid;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    background-color: #C2D7FE26;
}

.card {
    width: 55%;
    padding: 5%;
}

.class-description {
    width: 45%;
    padding: 5%;
}



.newLine {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: space-between;
}

.title-grid{
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    align-items: flex-start;
}

.middle{
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.middle h1{
    margin: 0;
    text-align: left;
}

.middle p{
    margin: 0;
    text-align: left;
}

.icon {
    width: 90px;
    height: 90px;
    border-radius: 15px;
    grid-column-start: 1;
    grid-column-end: 2;
}

.classTitle {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.desTitle {
    margin-top: 0;
}

.rate-and-save{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.rating-flex{
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-top: 3%;
}

.match {
    color: #439b4c;
    align-items: flex-start;
}

.class-info {
    margin: 15px;
}

.class-title {
    font-weight: 600;
    font-size: 12px;
}

.value {
    border: 1px black solid;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

.credits {
    background-color: #c2d7fe;
    font-size: medium;
}

.subject {
    background-color: #ff7c7c;
}

.department {
    background-color: #ffe6c1;
}

.status {
    background-color: #C0FFC6;
}
