.dropZone{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-template-rows: auto auto;
  gap: 10px;
  align-items: center;
}

.dropZone .resume-text{
  grid-column: 1;
  grid-row: 1;
  margin: 0;
}

.dropZone .resume-drop{
  grid-column: 1;
  grid-row: 2;
  margin: 0;
}

.dropZone .transcript-text{
  grid-column: 2;
  grid-row: 1;
  margin: 0;
}

.dropZone .transcript-drop{
  grid-column: 2;
  grid-row: 2;
  margin: 0;
}

.dropZone .schedule-text{
  grid-column: 3;
  grid-row: 1;
  margin: 0;
}

.dropZone .schedule-drop{
  grid-column: 3;
  grid-row: 2;
  margin: 0;
}