::placeholder {
  color: "#242424";
}

a:link, a:visited {
  text-decoration: none;
  color: black;
}

.main-grid {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 80px;
}


.navbar {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-right: 20px;
}

.navbar-wrapper{
  grid-template-columns: 10fr 1fr 5fr;
  width: 100%;
}

.searchbar {
  grid-column-start: 1;
}

.filterbutton {
  grid-column-start: 2;
}

.links {
  grid-column-start: 3;
}

.sidebar {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
  background-color: #404040;
}

.left-col {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

.right-col {
  grid-row-start: 2;
  grid-column-start: 2;
}

.full-page {
  grid-row-start: 2;
  grid-column: 1/3;
}

.collage-header{
  width: 50%;
  height: auto;
}

.profile {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
}

.search {
  margin: auto;
}

.wrapper-grid {
  display: grid;
  column-gap: 20px;
  align-items: center;
  padding: 0 20px;
  row-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.card {
  grid-column-start: auto span 1;
  grid-row-start: auto span 1;
}

.card:hover {
  cursor: pointer;
}

.card-header {
  padding: 10px;
}

.filter-borders {
  border-width: thin;
  border-style: solid;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.filters-footer {
  display: inline-flex;
  width: 100%;
  margin-right: 10px;
  justify-content: right;
}

.confirm-button {
  padding: 15px 5px 0px 0px;
}

.cancel-button {
  padding: 15px 5px 0px 5px;
}

@media screen and (max-width: 1200px) {
  .wrapper-grid {
    grid-template-columns: 1fr 1fr;
  }
}
